*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #7a7a7ae0;
}



.logo-container{
    width: 100%;
    height: auto;
    background-color: white;
}

.logo-img{
    width: 4.5rem;
}

#listname{
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Bungee Spice', cursive;
    
}

#container{
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    margin-top: 4rem;
}

.button-container{
    padding-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.btn{
    font-family: 'Lato', sans-serif;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border:0.02rem solid lightslategray;
    border-radius: 10px;
    


}

.sx{
    background-color: #1647f7;
    color: white;
}

.dx{
    color: lightgray;
    background-color: white;
}

hr{
    margin-bottom: 2rem;
}

#inner-container{
    width: 800px;
    padding-left: 4rem;
}

.new-task, .task{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

#arrow{
    display: inline-block;
    transform: rotate(90deg);
}


.circle-box{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tic{
    display: inline-block;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.05rem solid green;

}

.task-text{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.side-task{
    color: white;
    font-size: 15px;
    padding: 0.6rem 1rem;
    border-radius: 8px;
}

.list{
    padding-bottom: 3rem;
}

.A{
    background-color: chocolate;
}

.B{
    background-color: #1647f7;
}

.C{
    background-color: chartreuse;
}

.D{
    background-color: darkred;
}
